# Dependencies
node_modules/

# Build outputs
dist/
lib/
*.tsbuildinfo

# Environment variables & secrets
.env
.env.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log

# System files
.DS_Store
Thumbs.db
